body {
  padding: 10px;
  font-family: "-apple-system", "Clear Sans", "Helvetica Neue", Arial,
    sans-serif;
  margin: auto;
  max-width: 500px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 20px;
  background: #f5f5f5;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 22px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 16px;
}

.App {
  width: fit-content;
  margin: auto;
}

.board {
  display: flex;
  flex-wrap: wrap;

  width: 500px;
  user-select: none;
  margin-top: 20px;
  height: 500px;
}

.cell {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  width: 25%;
  height: 25%;
}

.number {
  cursor: pointer;
  font-weight: 500;
  border: 1px solid black;
  background: white;
}
